/* Salve em: src/components/MultiStepForm/steps/StepRequerente.module.css */

.stepTitle {
    font-size: 1.75rem;
    font-weight: 700;
    color: #333;
    margin-top: 0;
    margin-bottom: 0.5rem;
}

.stepDescription {
  font-size: 1rem;
  color: #6c757d;
  margin-bottom: 2.5rem; /* Mais espaço antes do formulário */
}

.formGroup {
    margin-bottom: 1.5rem;
}

.formGroup label {
    display: block;
    font-weight: 500;
    color: #555;
    margin-bottom: 0.5rem;
    font-size: 1.1rem; /* Label um pouco maior */
}

.formGroup input {
    width: 100%;
    padding: 1rem; /* Inputs maiores */
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 1rem;
    background-color: #fdfdfd;
    transition: all 0.2s ease;
}

.formGroup input::placeholder {
    color: #adb5bd;
}

.formGroup input:focus {
    outline: none;
    border-color: #294B29;
    background-color: #fff;
    box-shadow: 0 0 0 3px rgba(41, 75, 41, 0.1);
}